:root {
  --theme-default: #7366ff;
  --theme-secondary: #f73164;
  --light-background: rgba(242, 243, 247, 0.7);
  --body-font-color: #2f2f3b;
  --chart-border: #ecf3fa;
  --recent-chart-bg: #fcfcfd;
  --light-bg: #f6f7f9;
  --white: #fff;
  --light2: #f5f6f9;
  --sidebar-border: rgba(0, 0, 0, 0.1);
  --chart-text-color: rgba(82, 82, 108, 0.8);
  --recent-dashed-border: rgba(82, 82, 108, 0.3);
  --chart-dashed-border: rgba(82, 82, 108, 0.2);
  --chart-progress-light: rgba(82, 82, 108, 0.1);
  --recent-box-bg: #f2f4f7;
  --recent-border: rgba(97, 101, 122, 0.25);
  --course-light-btn: #f2f3f7;
  --course-bg: #f7f7f7;
  --balance-profie-bg: #e0dfef;
  --view-grid-bg: #ecf3fa80;
  --view-border-marker: #cfcdfc;
  --fc-button-bg-color: var(--theme-default);
  --fc-button-active-bg-color: var(--theme-default);
  --fc-button-active-border-color: var(--theme-default);
  --fc-button-border-color: var(--theme-default);
  --fc-button-hover-bg-color: var(--theme-default);
  --fc-button-hover-border-color: var(--theme-default);
}

body {
  color: #2f2f3b;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
* a {
  letter-spacing: 1px;
}

.txt-linkedin {
  color: #0077b5 !important;
}

.txt-twitter {
  color: #6fa2d8 !important;
}

.txt-fb {
  color: #50598e !important;
}

/* Login Page */

.login-page {
  .login-card {
    align-items: center;
    background: url(https://react.pixelstrap.com/cuba-context/static/media/login_bg.dc5f0101e0d66bb0eee2.jpg);
    background-position: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    padding: 30px 12px;
  }

  .login-main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
    margin: 0 auto;
    padding: 40px;
    width: 450px;
    border-top-left-radius: 0;
    height: 100%;
    position: relative;
    font-size: 14px;
  }

  .theme-form {
    h4 {
      margin-bottom: 5px;
    }
    p {
      color: #898989;
      font-size: 14px;
      margin-bottom: 25px;
    }

    label {
      font-size: 14px;
    }

    input {
      background-color: #f3f3ff;
      transition: all 0.3s ease;
      border-color: #efefef;
      box-shadow: none;
      color: #898989;
      font-size: 14px;
      padding: 12px 10px;
    }
  }

  .show-hide {
    position: absolute;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50px;

    span {
      color: var(--theme-default);
      cursor: pointer;
      font-size: 13px;

      &:before {
        content: "hide";
      }
    }
    span.show:before {
      content: "show";
    }
  }

  .form-check {
    label {
      margin-left: 8px;
      margin-top: 5px;
    }
    .form-check-input:checked {
      background-color: #0d6efd;
      border-color: #0d6efd;
    }
  }

  .fg-link {
    position: absolute;
    right: 0;
    top: 0px;
  }

  .theme-form .or {
    position: relative;
    --bs-text-opacity: 1;
    color: rgba(33, 37, 41, 0.75) !important;
    font-weight: 600;

    &::before {
      background-color: #f3f3ff;
      content: "";
      height: 2px;
      position: absolute;
      right: 0;
      top: 9px;
      width: 65%;
      z-index: 0;
    }
  }

  .btn-showcase {
    margin-bottom: -10px;

    .btn + .btn {
      margin-left: 5px;
    }

    a.btn {
      line-height: 1;
      margin: 0;
      padding: 10px 15px;

      &:hover {
        background-color: rgba(115, 102, 255, 0.1) !important;
        border-color: rgba(115, 102, 255, 0.1) !important;
      }

      svg {
        height: 16px;
        vertical-align: bottom;
      }
    }
  }
}
